<style>
    /* 스타일 추가 */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: black;
        color: white;
    }
</style>

<form method="post" action="/scenario">
    <button type="submit">Return</button>
</form>
<div class="container my-2">
    <table id="demo">
        <tr>
            <!-- 맨 위 행 스타일 추가 -->
            {% for header in csv[0] %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in csv[1:] %}  <!-- 첫 번째 행은 이미 위에서 출력되었으므로 두 번째 행부터 시작 -->
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
